@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); 


*{box-sizing: border-box;}

body{
    margin: 0;
    padding:0;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
}
html,body{
    height: 100%;
}

ul{
 list-style: none;
 padding: 0;
margin: 0;
}

a,a:link{
   text-decoration: none;
}

.container{
    position: relative;
}

/*헤더*/

header{
    padding: 16px 24px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #CD1039;
}



header span{
    line-height: 24px; 

}
header .logo{
    width: 80%;
    float: left;
}

header a{
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    
}

header>.bell{
 float: right;
}

.gnb{
    padding: 5px 24px;

    background-color: #920725;
}
.gnb ul{
    display: flex;
    position: relative;
}

.gnb a{
    display: inline-block;
    line-height: 30px;
    color: #fff;
    margin-right: 18px;
    font-weight: 300;
}



.gnb ul a.bold{
    font-weight: 600;   
}

hr{
    border: none;
    padding: 0;
    margin: 0;
    height: 14px;
    background-color: #ddd;
}


.tit-color{
    color: #CD1039;
    font-weight: 600;
}



.content{
    padding: 0px 24px;
    padding-top: 16px;
   
}

.con-top{
    display: flex;
    justify-content:space-between;
}

.con-top p{
    font-size: 16px;
    padding-right: 4px;
}

.content button{
    border: none;
    height: 36px;
    background-color: #CD1039;
    color: #FFF;
    border-radius: 5px;
    padding: 2px 12px;
    margin-top: 12px;
}

.content button span{
font-size: 14px;
}

.content button:hover{
    background-color:#e3224c;
}

.con-title{
    color: #888888;
    border-bottom: 1px #DDDDDD dotted ;
    padding-bottom: 30px;
}

.con-title p{
font-size: 12px;
}

.con-title span{
    margin-right: 14px;
}

.con-title .tit-mini{
    color: #333;
    font-weight: 600;
    font-size: 16px;
}

.con-title .green{
    color: #006321;
    font-weight: 600;
}

.con-title .ment-box{
    color: #fff;
    padding: 2px 6px;
    border-radius: 5px;
    background-color: #CD1039;
    
}


.con-contents{
    white-space: pre-line;

}

.content-updown {
    padding-bottom: 30px;
    border-bottom: 1px #DDDDDD dotted ;
}

.content-updown span{
font-size: 15px;
padding-right: 22px;
}


.con-bottom{
    padding-top: 14px;
    padding-bottom: 14px;
}

.con-bottom p{
    margin: 0;
    padding: 0;
    font-size: 14px;

}

.comment{
    padding: 16px 24px;
    border-bottom: 1px #DDDDDD solid;
}

.comment span{
 font-size: 14px;
}

.comment .blue{
    color: #4871E2;
    font-weight: 600;

}

.blue_pp{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px #DDDDDD solid;
}

.sachan_pp{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    border-bottom: 1px #DDDDDD solid;

}

.sachan_green{
    font-weight: 600;
    color: #006321;
}

.yellow{
    font-weight: 600;
    color: #9ea604;
}

.red{

    font-weight: 600;
    color: #b00505;
}

.gray{
    font-weight: 600;
    color: #7b7b7b;
}

.pink{
    font-weight: 600;
    color: #e10992;
}


.form{
    padding: 16px 24px;
    border-bottom: 1px #DDDDDD solid;
}

.form input[type=textarea]{
    width: 100%;
    height: 70px;
    border: 1px solid #BABABA;
    margin-bottom: 8px;
}

.form input[type=password]{
    width: 100%;
    height: 35px;
    border: 1px solid #BABABA;
    margin-bottom: 8px;
}

.form button{
    border: none;
    height: 36px;
    background-color: #CD1039;
    color: #FFF;
    border-radius: 5px;
    padding: 2px 12px;
}

.form button:hover{
    background-color:#e3224c;
}

.form button:last-child{
    float: right;

}

.footer{
padding: 16px 24px;
}

.footer h3{
    color: #CD1039;
}

.footer p{
    color: rgb(86, 86, 86);
    font-size: 14px;
}
.footer span{
    background-color: #CD1039;
    padding: 2px 4px;
    color: #fff;
    border-radius: 30px;
    margin-right: 4px;
}
